@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

#ziva-chat {
  display: none;
  flex-direction: column;
  width: 485px;
  max-width: calc(100vw - 2rem);
  height: calc(100vh - 5rem);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  font-family: Lato, sans-serif;
  background: #F8FAFF;
  box-shadow: -10px 30px 54px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;

  // HEADER SECTION - logo, title, close button, etc
  header.header-container {
    flex: none;
    display: flex;
    padding: 16px 20px;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-bottom: 3px solid #858bc0;
    border-image: linear-gradient(90deg, #B7C0FF, #6F80FF, #DDE1FF) 1;

    .header-title {
      display: flex;
      gap: 10px;
      align-items: center;

      .logo {
        display: block;
        width: 32px;
        height: 32px;

        img { height: 32px }
      }

      h4 {
        font: 26px Lato, sans-serif;
        margin: 0;
      }
    }

    .header-actions {
      display: flex;
      gap: 16px;

      .close-button {
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  // GREETINGS OVERLAY - to be toggled on first interaction
  aside.greetings-overlay {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 25px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    // background image will be imported and set using js
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;

    h4 {
      font-size: 18px;
      font-weight: 400;
      margin: 0;
    }

    p {
      font-size: 12px;
      line-height: 21px;
      margin: 0;
    }
  }

  // BODY SECTION - incoming & outgoing messages, etc
  main.messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    position: relative;

    .message {
      width: 90%;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0 0 25px 0;

      .message-timestamp {
        font-size: 12px;
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 16px;
        border-radius: 12px;
        padding: 12px 20px;
      }

      .content-text {
        font-size: 14px;
        line-height: 20px;
        overflow-wrap: break-word;

        p { margin: 0 }
      }

      .content-tiles {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .tile-item {
          display: flex;
          align-items: center;
          gap: 5px;
          border: 1px solid #D1D1D1;
          border-radius: 10px;
          padding: 4px;

          div {
            width: 21px;
            height: 21px;
            border: 1px solid #CDCDCD;
            border-radius: 100%;
            overflow: hidden;
          }

          span {
            font-size: 12px;
          }
        }
      }
    }

    .incoming .wrapper {
      background: #ffffff;
      border-top-left-radius: 0;
    }

    .outgoing {
      margin-left: auto;

      .message-timestamp {
        text-align: right;
      }

      .wrapper {
        background: #E9EBF0;
        border-top-right-radius: 0;
      }
    }
  }

  // FOOTER SECTION - message input, send button, etc
  footer.footer-container {
    display: flex;
    justify-content: center;
    padding: 20px;

    .input-container {
      display: flex;
      padding: 8px;
      align-items: center;
      width: 100%;
      border: 1px solid #EAEAEA;
      border-radius: 10px;
      background: #FFFFFF;

      .chat-input {
        font: 14px Lato, sans-serif;
        padding: 8px;
        opacity: 0.7;
        flex: 1;
        border: none;

        &:focus {
          outline: none;
        }
      }

      .send-button {
        width: 34px;
        height: 34px;
        background: #1A73E8;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 100%;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  #tarka-chat {
    bottom: 10px;
    right: 10px;
    .t-container {
      width: calc(100vw - 20px);
    }
  }
}
